<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="husband" class="cn.bugstack.springframework.test.bean.Husband">
        <property name="wifiName" value="你猜"/>
        <property name="marriageDate" value="2021-08-08"/>
        <property name="wife" ref="wife"/>
    </bean>

    <!--扫描注解类路径-->
    <context:component-scan base-package="cn.bugstack.springframework.test.bean"/>

    <!--扫描属性配置文件-->
    <bean class="cn.bugstack.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <bean id="wife" class="cn.bugstack.springframework.test.bean.Wife">
        <property name="husband" ref="husband"/>
    </bean>

    <bean id="husbandMother" class="cn.bugstack.springframework.test.bean.HusbandMother"/>

    <bean id="conversionService" class="cn.bugstack.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" ref="converters"/>
    </bean>

    <bean id="converters" class="cn.bugstack.springframework.test.converter.ConvertersFactoryBean"/>

</beans>
